@media screen and (max-width: 45em) and (min-width: 30em) {
  .ttc-w-50-s {
    width: 50%;
  }
}

@media screen and (max-width: 70em) and (min-width: 45em) {
  .ttc-w-33-m {
    width: 33%;
  }
}

@media screen and (max-width: 80em) and (min-width: 70em) {
  .ttc-w-25-l {
    width: 25%;
  }
}

@media screen and (min-width: 80em) {
  .ttc-w-20-xl {
    width: 20%;
  }
}
